body {
    background-image: url("motherboard-1219352_1280.jpg")
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
  }

.legend {
    font-weight: bold;
}

  
  .item p {
    display: inline-block;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%
  }